@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container {
  height: 85vh;
  width: 100vw;
  background-image: url('/waterlillies.jpg');
  background-size: cover;
  background-position-x: -7.5rem;
  background-repeat: no-repeat;
  margin-top: 5.3rem;
  padding-top: 7.5rem;
}

.header {
  font-family: 'IM FELL Double Pica SC';
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: normal;
}

.header::first-letter {
  font-size: 4rem;
}

.largeb {
  font-family: 'IM FELL Double Pica SC';
  text-align: center;
  color: white;
  font-size: 4rem;
}

.tag {
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: white;
  font-weight: normal;
  margin-top: -2rem;
}

.explorebutton {
  font-family: 'Inter', sans-serif;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 1rem;
  background-color: #ba9696;
  border-color: transparent;
  color: white;
}

.reflectbutton {
  font-family: 'Inter', sans-serif;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 1rem;
  background-color: #707e99;
  border-color: transparent;
  color: white;
}

.lowercase {
  text-transform: lowercase;
  color: white;
  line-height: 2px;
}

.displaycircles {
  display: flex;
  justify-content: center;
}
