.signInCopy {
  color: green;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url('/sunflowers.jpg');
  background-size: cover;
  background-position-x: -7.5rem;
  background-repeat: no-repeat;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
